import * as Style from '@/components/{{pascalCase name}}/styles/styles'


const {{pascalCase name}} = () => (
<Style.Wrapper>
  <h1>{{pascalCase name}}</h1>
</Style.Wrapper>
)

export default {{pascalCase name}}
